<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-left">Add Student</h2>
        <nav>
            <a href="#" class="text-muted">Home</a> / <a href="#" class="text-primary">Add Student</a>
        </nav>
    </div> 
    <div class="card">
        <div class="card-header bg-primary text-white">
            Add Student
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3" >
                    <label class="form-label" >First Name:</label>
                    <input type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Email:</label>
                    <input type="email" class="form-control" value="user1">
                </div>

                <div class="mb-3">
                    <label class="form-label">Gender:</label>
                    <select class="form-select">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password:</label>
                    <input type="password" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Profile Pic:</label>
                    <input type="file" class="form-control" id="profile-pic" name="profile-pic">
                </div>

                <div class="mb-3">
                    <label class="form-label"  style="padding: 10px;">Address:</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">Course:</label>
                    <select class="form-select">
                        <option>----</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Session:</label>
                    <select class="form-select">
                        <option>----</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone Number:</label>
                    <input type="phone number" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">College Name:</label>
                    <input type="college name" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Passed Out Year:</label>
                    <input type="passed out year" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Degree:</label>
                    <input type="degree" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Department:</label>
                    <input type="department" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Mode Of Internship:</label>
                    <select class="form-select">
                        <option>Online</option>
                        <option>Offline</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary w-100">Add Student</button>
            </form>
        </div>
    </div>
</div>
